<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Failed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" data-n-head="true">

</head>
<body>
    <div class="container">
        <h2 style="color : red"> Purchase failed : {{error}}</h2>
        {% if uuid %}
        <h4 style=""> Reference code: {{uuid}}</h4>
    {% endif %}
        <button type="button" class="btn info btn-link"><a href="https://iutaria.tk">> Return </a></button>
    </div>
</body>
</html>