<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello there</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hello.css') }}">
</head>
<body>
{% if data.name %}
  <h1>Hello {{ data.name }}!</h1>
{% else %}
  <h1>Hello curious fellow!</h1>
{% endif %}
</body>
</html>