<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>iutaria ticket verification</title>

    <link rel='stylesheet prefetch'
          href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.17/vuetify.min.css'>
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/rastikerdar/vazir-font/v18.0.1/dist/font-face.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1" data-n-head="true">

    <style>
        .rtl {
            direction: rtl
        }

        .vazir {
            font-family: 'vazir', sans-serif
        }
    </style>


</head>

<body translate="no">

<div id="app">
    <v-app id="inspire">
        <v-layout row wrap justify-center align-center>
            <v-flex xs12 sm8 md5>
                <v-card class="vazir pt-5 px-3">
                    <v-card-title class="rtl display-2 green--text  mb-3">
                        خرید با موفقیت انجام شد!

                    </v-card-title>
                    <v-divider></v-divider>

                    <v-card-text class="rtl">
                        <div class="title red--text mb-4 rtl"><p>
                            *برای تکمیل ثبت نام باید از دوشنبه ساعت ده صبح لغایت دو
                            ظهر به همراه کارت دانشجویی به کانون آریا مراجعه نمایید.</p>
                        <p> *لطفا عکس  این صفحه را به همراه داشته باشید </p>
                        </div>

                        <v-text-field
                                v-model="game"
                                label="برنامه"
                                readonly
                        ></v-text-field>
                        <v-text-field
                                v-model="name"
                                label="ثبت به نام"
                                readonly
                        ></v-text-field>
                        <v-text-field
                                v-model="order"
                                label="کد رهگیری"
                                readonly
                                required
                        ></v-text-field>
                        <!-- <p class="caption">این کد را یادداشت کنید</p> -->
                        <v-text-field
                                v-model="day"
                                label="روز"
                                readonly
                        ></v-text-field>
                        <v-text-field
                                v-model="time"
                                label="ساعت"
                                readonly
                        ></v-text-field>

                    </v-card-text>
                    <!-- <v-divider class="mb-2"></v-divider> -->
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <a href="https://iutaria.tk">
                            <v-btn color="primary mb-2">
                                <v-icon dark left>done</v-icon>
                                اتمام
                            </v-btn>
                        </a>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-app>
</div>

<!--<script src='https://unpkg.com/babel-polyfill/dist/polyfill.min.js'></script>-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.17/vuetify.min.js'></script>


<script>
    new Vue({
        el: '#app',
        data: function data() {
            return {
                name: "{{data.name}}",
                order: "{{data.uuid}}",
                game: "{{data.game}}",
                day: "دوشنبه",
                time: "21:00"
            };
        }

    });
</script>


</body>

</html>
 